# PYTHON PROGRAMMING FUNDAMENTALS
# TUPLES AND SETS

# TUPLES 

- Immutable Python objects. 
- 튜플은 시퀀스, 즉 순서가 있습니다. 
- 튜플은 괄호 ( ) 를 사용합니다.

In [3]:
string = '안녕하세요'

string[0] = '암'

TypeError: 'str' object does not support item assignment

In [4]:
tuple_1 =  ( '홍길동', '에이미', 10, 15, 1999  )

In [5]:
print(tuple_1)

('홍길동', '에이미', 10, 15, 1999)

In [6]:
type(tuple_1)

tuple

In [7]:
tuple_1[1]

'에이미'

In [8]:
tuple_1[1 : 4]

('에이미', 10, 15)

In [9]:
tuple_1[-1]

1999

In [10]:
tuple_2 = ( 100, 30, 40, 50)

In [11]:
tuple_all = tuple_1 + tuple_2

In [12]:
print(tuple_all)

('홍길동', '에이미', 10, 15, 1999, 100, 30, 40, 50)

In [13]:
my_list = [ 1, 2,3,4, 5]

In [14]:
my_list

[1, 2, 3, 4, 5]

In [16]:
changed =  tuple(my_list)

In [17]:
type(changed)

tuple

In [18]:
print(changed)

(1, 2, 3, 4, 5)

In [19]:
list(changed)

[1, 2, 3, 4, 5]

# SETS
- 셋에 들어있는 데이터는 순서가 없습니다.
- 셋에는 동일한 값이 저장되지 않습니다. 우리가 배웠던 집합과 같습니다. 
- 셋은 중괄호 { } 로 정의합니다.

In [20]:
dic_a = { 'a':33 , 'b': 333, '홍길동' : '안녕하세요'    }

In [21]:
dic_a

{'a': 33, 'b': 333, '홍길동': '안녕하세요'}

In [22]:
my_set = { 1, 3, 2    }  
my_set

{1, 2, 3}

In [24]:
my_set = { 3, 3, 3, 1, 2, 5, 1, 6}      
my_set

{1, 2, 3, 5, 6}

In [25]:
my_list = [ 3, 3, 3, 1, 2, 5, 1, 6]  
my_list

[3, 3, 3, 1, 2, 5, 1, 6]

In [26]:
my_set = set( my_list )   

print(my_set)

{1, 2, 3, 5, 6}

In [27]:
my_list = list ( my_set )
print(my_list)

[1, 2, 3, 5, 6]